<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <!-- Display cart count -->
      <div class="cart">Cart({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- Bind image source and apply class conditionally based on inStock -->
            <img :class="{'out-of-stock-img': !inStock}" v-bind:src="image">
          </div>
          <div class="product-info">
            <!-- Display product brand and name -->
            <h1>{{ title }}</h1>
            <!-- Display sale message if the onSale property is true -->
            <p v-if="onSale">{{ sale }}</p>
            <!-- Display product description -->
            <p>{{ description }}</p>
            <a :href="url">001340185</a>
            <!-- Conditional rendering based on inventory value -->
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>

            <!-- Loop through details array and display each detail -->
            <ul>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <!-- Loop through sizes array and display each size -->
            <ul>
              <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
            </ul>
            <!-- Loop through variants array and display each variant color -->
            <div 
              v-for="(variant, index) in variants" 
              :key="variant.id" 
              @mouseover="updateVariant(index)"
              class="color-circle"
              :style="{ backgroundColor: variant.color }">
            </div>
            
            <!-- Button to add item to cart, 
             apply 'disabledButton' class if not in stock, 
             and disable button if not in stock -->
            <button 
              class="button" 
              :class="{disabledButton: !inStock}"
              :disabled="!inStock"
              v-on:click="addToCart"
              >Add to Cart
            </button>
            <!-- Button to remove item from cart -->
            <button class="button" v-on:click="removeFromCart">Remove Item</button>
          </div>
        </div>
      </div>

    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>